<html>
    <head><title>BVC</title></head>
    <form name="LoginForm" action="#" method="post">
    <div class="login">
    <input type="text" placeholder="username" name="name"><br>
    <input type="text" placeholder="address" name="addr"><br>
    <input type="text" placeholder="UID" name="uid"><br>
    <input type="text" placeholder="Age" name="age"><br>
    Gender:<select name="gender">
    <option>M</option>
    <option>F</option>
    </select>
    <br>
    <input type="submit" value="Submit">
    </div>
    </form>
</html>