<html>
    <head><title>BVC</title>
    <style>
        .container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
}
        </style>
    </style>
    </head>
    <div class="container">
        <span>Validate</span>
     </div>
        <div class="container">
        <form name="container" action="#" method="post">
        <div >
        <input type="text" placeholder="UID" name="uid"><br>
        <input type="submit" value="Validate">
        </div>
        </form>
    </div>
</html>